body {
    margin: 0;
    padding: 0;
    background-image: url("https://www.hbomax.com/static/wef/img/bg-gradient.jpg");
    color: #fff;
    font-family: sans-serif;
}

body::-webkit-scrollbar {
    background-color: #ffe2a8;
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #ff9d00;
    border-radius: 15px;
}

.barraNavegacion {
    font-size: large;
    background-color: rgba(0,0,0,.4);
}

.capaContenido {
    
}

.pieDePagina {
    background-color: rgba(3,3,40,.8);
}